---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src|tests)/'
CheckOptions:
  readability-identifier-length.IgnoredVariableNames: '^[fi]$'
...
